.hobby {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
  }
  
  .title {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
  }
  
  .description {
    font-size: 1em;
    color: #666;
  }
  