@import "../../vars.css";

.bar {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    z-index: 2;
    /* outline-width: 5px;
    outline-color: white;
    outline-style:inset */
    border-top: 3px solid var(--color-bg);
}