@import "../../vars.css";

.bar {
    /* position: relative; */
    /* top: 100vh; */
    width: 100%;
    background-color: #ffffff;
    /* z-index: -1; */
    /* outline-width: 5px;
    outline-color: white;
    outline-style:inset */
    border-top: 3px solid var(--color-bg);
    border-bottom: 3px solid var(--color-bg);
}

.top {
    background-color: var(--color-text);
    height: 3vh;
    /* background-image: linear-gradient(var(--color-text), var(--color-green)); */
}

.middle {
    background-color: var(--color-green);
    height:3vh;
}

.bottom {
    background-color: var(--color-blue);
    height:3vh;
    /* background-image: linear-gradient(var(--color-green), var(--color-blue)); */

}