@import "../../vars.css";
@import "../../fonts.css";

.navbar {
    background-color: var(--navbar-color);
    background: var(--navbar-color);
    background: var(--color-bg);
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    /* padding: 20px 2.5% 20px; */
    /* padding-top: 61px; */
    z-index: 2;
    margin: 0 0 0 0;
    font-family: 'Dual';
    /* font-weight: 100;
    font-stretch: narrower; */
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--color-text);
}

.title {
    width: 100px;
    height: 60px;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 40px;
    line-height: 43px;
    cursor: pointer;
    font-family: 'DugasPro'; /* Font in use */
    padding: 0 20px;
    border-right: 1px solid var(--color-text);
    padding-bottom: 10px;
    position: relative; /* Establish a positioning context for ::after */
}

.title::after {
    content: ""; /* Creates a pseudo-element */
    position: absolute; /* Position relative to the .title element */
    bottom: 3px; /* Aligns the underline at the bottom of the title */
    left: 0; /* Starts the underline at the left of the title */
    width: 0%; /* Initially hidden */
    height: 2px; /* Thickness of the underline */
    background-color: var(--color-text); /* Color of the underline */
    transition: width 0.3s ease-in-out; /* Smooth animation */
}

.title:hover::after {
    width: 90%; /* Expands the underline to match the full width of the title */
}



.menu {
    display:flex;
    border-left: 1px solid var(--color-text);
    margin: 0;
}

.menuItems {
    align-items: center;
    height: 60px;
    display: flex;
    gap: 47px;
    list-style: none;
    margin: 0 20px 0;
}



.menuItems a {
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;
    position: relative; /* Creates a positioning context for the pseudo-element */
}

.menuItems a::after {
    content: ""; /* Creates a pseudo-element */
    position: absolute; /* Positions relative to the <a> element */
    left: 0; /* Starts from the left of the word */
    bottom: -2px; /* Aligns the underline at the bottom of the text */
    width: 0%; /* Initially hidden */
    height: 2px; /* Thickness of the underline */
    background-color: var(--color-text); /* Color of the underline */
    transition: width 0.3s ease-in-out; /* Smooth animation */
}

.menuItems a:hover::after {
    width: 100%; /* Expands the underline to match the width of the word */
}


.menuBtn {
    height: 60px;
    display: flex;
    cursor: pointer;
    padding: 10px;
    width: 60px;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    color: var(--color-text);
}

@media (min-width: 760px) {
    .menuBtn {
        display: none;
    }

}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: var(--color-bg);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    }

    .menuOpen {
        display: flex;
        z-index: 50;
    }

}
