@font-face {
    font-family: 'Basheq';
    src: url('./assets/fonts/BasheqVintageDemoVersionRegular-ov13x.ttf');
}

@font-face {
    font-family: 'DugasPro';
    /* src: url('./assets/fonts/Dugas Pro/ttf/DugasPro-B.ttf'); */
    src: url('./assets/fonts/DugasPro-BlackUltra-condensed.ttf');
}

@font-face {
    font-family: 'Dual';
    src: url('./assets/fonts/Dual-300.ttf');
}