@font-face {
    font-family: 'Basheq';
    src: url('/fonts/BasheqVintageDemoVersionRegular-ov13x.ttf');
}

@font-face {
    font-family: 'DugasPro';
    src: url('/fonts/DugasPro-BlackUltra-condensed.ttf');
}

@font-face {
    font-family: 'Dual';
    src: url('/fonts/Dual-300.ttf');
}