:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    /* --navbar-color: #f55b47; */
    --navbar-color: #242424;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }