:root {
    /* Colors */
    /* --color-text: #262523; */
    --color-text: #fff7f0;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    /* --color-bg: #04152d; */
    --color-bg: #262523;
    /* --navbar-color: #f55b47; */
    --navbar-color: #242424;
    /* --navbar-color: #543A29; */
    /* --color-blue: #5c80bc; */
    --color-blue: #4B5E7E;
    --color-green: #73ab84;
    /* --color-green: #688f74; */
    /* --color-green: #648579; */
  
    /* Fonts */
    --font-roboto: "Roboto";
  }