.content {
    background-color: rgb(56, 56, 56);
    display: flex;
    padding: 10%;
    justify-content: space-between;
    flex-direction: column;
    width: 80%; 
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
}

.title {
    font-size: 40px;
}

.description {
    font-size: 20px;
}

.hobbies {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 100px;
}



.aboutImg {
    /* width: 50%; */
    height: 10vh;
}

.content {
    
}